* {
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    color: rgb(43, 39, 39);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: rgb(58, 52, 52);
    font-size: 1.3rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4rem;
}

h3 {
    font-size: 1.7rem;
    line-height: 3rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    line-height: 2.5rem;
}

div {
    display: block;
}

/* Header section */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 10;
    height: 4rem;
    padding: 0 1.5rem;
    z-index: 10;
}

#coolmar {
    font-weight: 700;
}

#academy {
    color: grey;
}

header img {
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h2 {
    font-size: 1rem;
}

header img {
    height: 2rem;
}

header li {
    margin-left: 1rem;
    display: inline-block;
}

header a {
    font-size: 1rem;
}

/* Mobile */

@media only screen and (max-width: 740px) {
    .header-left h2, header li {
        display: none;
    }
}

.header-left img{
    display: inline-flex;
    justify-content: space-around;
}

@media only screen and (min-width: 740px) {
    .header-left img {
        display: none;
    }
}

@media only screen and (min-width: 740px) {
    #logo {
        display: block;
    }
}

@media only screen and (max-width: 740px) {
    .header-left {
        width: 100%;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 740px) {
    header {
        padding: 0;
    }
}


/* Under header section */

.container {
    margin-top: 4rem;
    padding: 2rem 1.5rem;
    background-color: rgb(214, 212, 212);
    display: inline-flex;
    align-content: center;
    align-items: center;
    width: 100%;
}

.left-side img {
    width: 100%;
    height: auto;
}

.left-side {
    display: inline-block;
    width: 60%;
    padding-right: 1.5rem;
}

.left-side p, 
.left-side h3 {
    padding-left: 0;
}

.right-side {
    width: 30%;
    display: inline-block;
}

#start {
    font-size: 2rem;
    background-color: rgb(58, 52, 52);
    color: rgb(238, 229, 229);
    padding: .5rem 0;
    text-align: center;
}

@media only screen and (max-width: 740px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
}

@media only screen and (max-width: 740px) {
    .container .left-side {
        width: 100%;
        height: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 740px) {
    .container .right-side {
        width: 100%;
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 740px) {
    .container .right-side h3 {
        padding: 2rem 0 1.5rem 0;
    }
}

@media only screen and (max-width: 740px) {
    #start {
        background-color: rgb(151, 148, 148);
        color: white;
    }
}

/* About */

.container-about {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    display: inline-flex;
    align-content: center;
    width: 100%;
    background-color: whitesmoke;
}

.left-about {
    padding-right: 1.5rem;
    border-right: rgb(214, 212, 212) 1px solid;
    padding-top: 2rem;
}


.right-side-about {
    width: 40%;
    padding-top: 1rem;
}

.text-about {
    width: 65%;
}

.info-blocks {
    display: inline-flex;
    align-content: center;
    align-items: center;
    border-bottom: 0.1rem solid rgb(214, 212, 212);
}

.img-about {
    padding: 1rem;
    width: 35%;
    height: auto;
}

.img-about img {
    width: 100%;
    height: auto;
}

.container-about h2 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#emanuel {
    padding-top: 2rem;
}

.leckture {
    background-color: rgb(214, 212, 212);
}

.text-about a {
    line-height: 2.5rem;
    color: rgb(121, 153, 214);
}

@media only screen and (max-width: 740px) {
    .left-about {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    .container-about {
        padding: 0;
    }
}

@media only screen and (max-width: 740px) {
    .right-side-about {
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
    }
}

@media only screen and (max-width: 740px) {
    .right-side-about .info-blocks {
        flex-direction: column;
        background-color: whitesmoke;
        border: none;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 740px) {
    .img-about {
        width: 100%;
        height: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 740px) {
    .right-side-about .info-blocks .img-about img {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    .right-side-about .info-blocks .img-about .mobile-img img {
        width: 100%;
    }
}

/* Learning */

.learning {
    padding: 2rem 2.5rem 0 2.5rem;
    background-color: rgb(214, 212, 212);
}

.learning h2, h3, p {
    padding: .25rem 1rem .25rem 1rem;
}

.learning h2 {
    text-align: center;
}

.learning h3 {
    font-size: 1.7rem;
}

.learning p {
    color: gray;
    font-weight: 300;
}

.boxes {
    display: flex;
    width: 100%;
}

.box {
    margin: 2rem;
    background-color: white;
    flex-shrink: 1;
    max-width: 33.25rem;
    padding-bottom: 1.25rem;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: .75rem;
}

/* Thesis exhibit */

.thesis h2 {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2rem;
}

.left-side video {
    width: 100%;
    padding-bottom: 1.25rem;
}

.thesis .left-side, .thesis .info-blocks {
    border: none;
}

.thesis .leckture {
    margin-top: 1rem;
}

/* Footer */

footer {
    border-top: solid rgb(214, 212, 212);
    background-color: whitesmoke;
    padding: 1rem 1.5rem 3rem 1.5rem;
}

footer a {
    float: right;
}

footer p {
    padding: 0;
}

footer a {
    margin-left: .7rem;
}

/* Mobile */
 

